.footer_left,.info_container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: left;
}
.address_container,.call_container,.email_container,.hours_container{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    color: #00233E;
}
.info_container *{
    font-size: 15px;
    font-family: 'Quicksand';
    font-weight:500;
}
.footer_text{
    font-size: 17px;
    font-family: 'Quicksand';
    font-weight:500;
    margin-left: 10px;
    margin: 10px;
    color: #00233E;
}
.info_container{
    margin-left: 10px;
}
.footer_logo{
    max-width: 210px;
    
}
.footer_left{
    width:22% ;
}
.address_container i,.call_container i,.email_container i,.hours_container i{
    margin-right: 10px;
    margin-top: 15px;
}
.address_text,.call_text,.email_text,.hours_text,.address_text_2{

    margin: 0px;
    margin-top: 15px;
}