.login-register-container {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  padding: 30px 45px 60px 45px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 16px 30px rgba(0, 0, 0, 0.05);
  width: 90vw;
  max-width: 1300px;
  margin-bottom: 40px;
}

.login-register .form-section {
  flex: 1;
  padding: 30px;
  border: 1.5px solid #ccc;
  border-radius: 20px;
  background-color: #fff;
}

.login-register .form-section h2 {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.login-register .form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-register .form label {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 16px;
}

.login-register .input-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.input-wrapper label{
  font-size: 16px;
  color: #353535;
  font-weight: 600;
}
.login-register .input-field {
  width: 97.5%;
  padding: 8px 0px 8px 10px;
  border-radius: 10px;
  border: 2px solid #DEDEDE;
  font-size: 12px;
  font-weight: 300;
  outline: none;
}
.login-register .input-field::placeholder{
  color: #353535;
}

.login-register .toggle-visibility {
  position: absolute;
  right: 20px;
  top: 33px;
  cursor: pointer;
  user-select: none;
  font-size: 14px;
}

.login-register .btn {
  border-radius: 12px;
  padding: 10px 12px 10px 12px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  border: 1px solid #e7e7e7;
  width: 100%;
}
.primary-btn span{
  margin: 0 auto;
  transform: translateX(-15px);
}
.facebook-btn span,.google-btn span{
  margin: 0 auto;
  transform: translateX(-5px);
}
.google-btn span{
  margin: 0 auto;
  transform: translateX(-8px);
}
.login-register .primary-btn {
  background-color: #000;
  color: #fff;
  border: none;
  margin-top: 5px;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.1);
  transition: all 0.3s ease-in-out;
}
.primary-btn i{
  font-size: 12px;
  color: white;
  margin-left: 5px;
}
.loginBtnP{
  margin: 0px;
}

.login-register .social-login {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 15px;
}

.login-register .google-btn,
.login-register .facebook-btn {
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: #fff;
  color: #000;
  padding: 10px 12px 10px 12px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.3);
}

.login-register .google-btn img,
.login-register .facebook-btn img{
  width: 20px;
  height: 20px;
}
.login-register .google-btn i,
.login-register .facebook-btn i{
  color: black;
  font-size: 14px;
  margin-left: 5px;
}
.login-register .google-btn:hover,
.login-register .facebook-btn:hover,.login-register .primary-btn:hover {
  transform: translateY(-4px);
}
.divInsideButton{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.button-image{
height: 400px;
}
.toggle-button {
  padding: 30px;
  border: 1.5px solid #ccc;
  border-radius: 20px;
  background-color: #fff;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3); 
  transition: 
    transform 0.3s ease,
    box-shadow 0.3s ease,
    background-color 0.3s ease;
}

.toggle-button:hover {
  transform:  translateY(-4px);
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.15); 

}
.text_register{
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  font-size: 14px;
  transition: color 0.3s ease-in-out,transform 0.3s ease-in-out;
  margin: 0px;
  margin-top: -20px;
}
.toggle-button:hover .text_register{
  font-weight: 700;
  transform: scale(1.05);
  color: #db4901bb;

}

@media (max-width: 768px) {
  .login-register-container {
    flex-direction: column;
  }
}
