.right_links {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .right_links>*{
    font-family: 'Lato';
    font-weight: 300;
  }
  .cart-container,.login-container {
    display: flex;
    align-items: end;
    text-decoration: none;
    color: black;
    transition: color 0.3s ease-in-out;
  }
  .cart-container:hover,.login-container:hover{
    color: #a74e00;
  }
  .cart-container {
    position: relative;
  }
  .cart-icon,  .login-icon {
    font-size: 22px;
    color: black;
  }
  
  .cart-badge {
    position: absolute;
    top: -6px;
    right: 28px;
    background: white;
    border: 1px solid black;
    color: black;
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%;
    width: 14px;
    height: 13px;
    display: flex;
    padding-top: 1px;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
  }
  .cart-badge:hover{
    transform: scale(1.2);
  }
  .cart_name,.login_name{
    margin-left: 9px;
    margin-bottom: -2px;
  }
