body {
  margin: 0;
  display: flex;
}
.centering{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.contentMain{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.text-center{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.best_flex_grid{
  display: flex;
  flex-direction: row;
}